<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="showStyle2 = false; showStyle = false; showStyle3 = false;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="" (click)="showStyle =  false; showStyle2 = false; showStyle3 = false;"></a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" routerLink="/products" (click)="showStyle = true; showStyle2 = false; showStyle3 = false; allProducts()">Productos</a>
          <div *ngIf="showStyle" class="dropdown-menu mega-dropdown-menu submenu" [style.display]="getStyle()">
            <div class="container-fluid">
                <ul class="nav-list list-inline">
                    <li class="liSizes"><a href="#" routerLink="/products/desktop"><img src="/assets/images/ordinador2.png" width="40%" class="imageSubmenu" /><span>Sobremesa</span></a></li>
                    <li class="liSizes"><a href="#" routerLink="/products/laptop"><img src="/assets/images/portatil2.png" width="40%" class="imageSubmenu" /><span>Portatiles</span></a></li>
                    <li class="liSizes"><a href="#" routerLink="/products/tablet"><img src="/assets/images/tablet2.png" width="35%" class="imageSubmenu" /><span>Tablets</span></a></li>
                    <li class="liSizes"><a href="#" routerLink="/products/mobile"><img src="/assets/images/mobil2.png" width="35%" class="imageSubmenu" /><span>Moviles</span></a></li>
                    <li class="liSizes"><a href="#" routerLink="/products/accessories"><img src="/assets/images/accesoris2.png" width="40%" class="imageSubmenu" /><span>Accesorios</span></a></li>
                </ul>
            </div>
          </div>
        </li>
        <li class="dropdown mega-dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" routerLink="/companies" (click)="showStyle2 = false; showStyle = false; showStyle3 = true;">Marcas</a>
          <div *ngIf="showStyle3" class="dropdown-menu mega-dropdown-menu submenu" [style.display]="getStyle3()">
            <div class="container-fluid">
                <ul class="nav-list list-inline">
                  <li class="liSizes"><a href="#" routerLink="/companies/apple"><img src="/assets/images/marcas/apple2.png" width="40%" class="imageSubmenu"/><span>Apple</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/companies/samsung"><img src="/assets/images/marcas/samsung2.png" width="40%" class="imageSubmenu"/><span>Samsung</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/companies/lg"><img src="/assets/images/marcas/lg2.png" width="40%" class="imageSubmenu"/><span>Lg</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/companies/asus"><img src="/assets/images/marcas/asus.png" width="40%" class="imageSubmenu"/><span>Asus</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/companies/hp"><img src="/assets/images/marcas/hp.png" width="40%" class="imageSubmenu"/><span>Hp</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/companies/others"><img src="/assets/images/mas1.png" width="35%" class="imageSubmenu"/><span>Otras!</span></a></li>
                </ul>
            </div>
          </div>
        </li>
          <li class="dropdown mega-dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" routerLink="/ranking" (click)="showStyle2 = true; showStyle3 = false; showStyle = false">Rankings</a>
            <div  *ngIf="showStyle2" class="dropdown-menu mega-dropdown-menu submenu" [style.display]="getStyle2()">
              <div class="container-fluid">
                <ul class="nav-list list-inline">
                  <li class="liSizes"><a href="#" routerLink="/ranking/desktop"><img src="/assets/images/ordinador2.png" width="40%" class="imageSubmenu"/><span>Sobremesa</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/ranking/laptop"><img src="/assets/images/portatil2.png" width="40%" class="imageSubmenu"/><span>Portatiles</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/ranking/tablet"><img src="/assets/images/tablet2.png" width="35%" class="imageSubmenu"/><span>Tablets</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/ranking/mobile"><img src="/assets/images/mobil2.png" width="35%" class="imageSubmenu"/><span>Moviles</span></a></li>
                  <li class="liSizes"><a href="#" routerLink="/ranking/accessories"><img src="/assets/images/accesoris2.png" width="40%" class="imageSubmenu"/><span>Accesorios</span></a></li>
                </ul>
              </div>
            </div>
          </li>
        <li><a href="#" class="dropdown-toggle" routerLink="/contact" (click)="showStyle = false; showStyle2 = false; showStyle3 = false;">Contacto</a></li>
        <li><a href="#" class="dropdown-toggle" id="admin" routerLink="/admin" *ngIf="showAdmin" (click)="showStyle = false; showStyle2 = false; showStyle3 = false;">Administrador</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" class="login" *ngIf="showEnter" id="login" data-toggle="modal" data-target="#myModal10" (click)="showStyle =  false"><span class="glyphicon glyphicon-user"></span> Entrar</a></li> <!--routerLink="/login-form"-->
        <li>
          <a *ngIf="!showEnter" class="btn btn-primary dropdown-toggle" id="userButton" type="button" data-toggle="dropdown">{{ this.user.name }}  <span class="caret"></span></a>
          <ul id="menuUser" class="dropdown-menu">
            <li id="yourProfile"><a (click)="yourProfile(); showStyle2 = false; showStyle = false; showStyle3 = false;">Tu Usuario</a></li>
            <li id="editProfile"><a (click)="editProfile(); showStyle2 = false; showStyle = false; showStyle3 = false;">Editar Usuario</a></li>
            <li><a href="#" (click)="leaveSession(); showStyle2 = false; showStyle = false; showStyle3 = false;"  routerLink="">Salir</a></li>
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-right" role="search" id="navBarSearchForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Busca el producto/marca que desee">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>-->

        <!--<div class="row">
          <div class="col-lg-3 col-md-3 pull-right">
            <div class="">
              <div class="custom-search">
                <input type="text" class="form-control" placeholder="Busca el producto/marca que desee">
              </div>
            </div>
          </div>
        </div>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="myModal10" role="dialog">
  <div class="modal-dialog">
    <app-login-form></app-login-form>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
