<script src="detailProduct.component.ts"></script>
<div class="container">
  <div class="back">
    <a class="btn btn-default" (click)="goBack()">< Atrás</a>
  </div>
  <div class="row imageForm">
    <div class="col-md-4">
      <div class="image">
        <img src="{{ this.producte.images[this.producte.images.length - 1]?.src }}" width="288px" height="288px">
      </div>
    </div>
    <div class="col-md-4 putMarginBot">
      <div id="text">
        <h1>{{ this.producte.name }}</h1>
        <h3>{{ this.producte.category }} - {{ this.producte.company }}</h3>
      </div>
      <h3 class="specName" *ngIf="showSpecTitle">Especificaciones:</h3>
      <div class="col-md-6 specifications">
        <div class="icons" *ngIf="spec1">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/cpu.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specProcesador }}</span>
        </div>
        <div class="icons" *ngIf="spec2">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/pantalla.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specPantalla }}"</span>
        </div>
        <div class="icons" *ngIf="spec3">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/ram.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specRam }} GB</span>
        </div>
        <div class="icons" *ngIf="spec4">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/disc.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specDisco }} GB</span>
        </div>
        <div *ngIf="accessoriesSpecs">
          <div *ngFor="let specific of this.specsWillShow">
            <h4>{{specific[0]?.name}} <span style="display:inline-block; width: 5px"></span> {{specific[0]?.spec}}</h4>
            <h4>{{specific[1]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[1]?.spec}}</h4>
            <h4>{{specific[2]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[2]?.spec}}</h4>
            <h4>{{specific[3]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[3]?.spec}}</h4>
            <h4>{{specific[4]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[4]?.spec}}</h4>
            <h4>{{specific[5]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[5]?.spec}}</h4>
            <h4>{{specific[6]?.name}} <span style="display:inline-block; width: 5px"></span>  {{specific[6]?.spec}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 specifications">
        <div class="icons" *ngIf="spec5">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/camara.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specCamara }} Mpx</span>
        </div>
        <div class="icons" *ngIf="spec6">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/grams.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specPeso }} gr</span>
        </div>
        <div class="icons" *ngIf="spec7">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/graphicTarget.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specTarjetaGrafica }}</span>
        </div>
        <div class="icons" *ngIf="spec8">
          <img class="iconsImage" src="../../../assets/images/iconsStadistics/so.png" height="20%" width="20%"/>
          <span class="iconsName">{{ this?.specSo }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 rating2">
      <div class="averageRating">
        {{ this.producte.avgRate }}
      </div>
      <div class="rating-bar">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getAvgRate()>
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-block" (click)="scrollElement(opinion)">Escribir una opinion</button>
    </div>
  </div>
  <h2 style="padding-bottom: 1%" #opinion>Resumen:</h2>
    <div class="row summaryForm">
      <div class="col-md-6 col-sm-6 responsiveEdit">
        <div class="col-md-12">
          <div class="col-md-3 opRate">9-10</div>
          <div class="col-md-6 summaryRating-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getSummaryRate(this.opinions9)>
              </div>
            </div>
          </div>
          <div class="col-md-3 sumRate">{{ this?.opinions9 }}</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3 opRate">7-8</div>
          <div class="col-md-6 summaryRating-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getSummaryRate(this.opinions7)>
              </div>
            </div>
          </div>
          <div class="col-md-3 sumRate">{{ this?.opinions7 }}</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3 opRate">5-6</div>
          <div class="col-md-6 summaryRating-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getSummaryRate(this.opinions5)>
              </div>
            </div>
          </div>
          <div class="col-md-3 sumRate">{{ this?.opinions5 }}</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3 opRate">3-4</div>
          <div class="col-md-6 summaryRating-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getSummaryRate(this.opinions3)>
              </div>
            </div>
          </div>
          <div class="col-md-3 sumRate">{{ this?.opinions3 }}</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3 opRate">0-2</div>
          <div class="col-md-6 summaryRating-bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getSummaryRate(this.opinions0)>
              </div>
            </div>
          </div>
          <div class="col-md-3 sumRate">{{ this?.opinions0 }}</div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        Mejor puntuación:
        <div class="row opinionsFormSumary">
          <div class="col-md-4 col-sm-6">
            <div class="opinionTitle">
              <div class="opTitile">
                <h3>{{ ratin.title }}</h3>
              </div>
              <div class="opComment">
                <h5  class="limitName">{{ ratin.comment }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 ratings">
            <div class="opRate">
              {{ ratin.rate}}
            </div>
            <div class="opRating-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getRate(ratin.rate)>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="writtenBy"  routerLink="/profile" #myElement (click)="saveUserName(ratin.userId?._id)">
              <h4>{{ ratin.userId?.name }}</h4>
            </div>
            <div class="rateDate">
              {{ ratin.date | date: 'longDate'}}
            </div>
          </div>
        </div>
        Peor puntuación:
        <div class="row opinionsFormSumary">
          <div class="col-md-4 col-sm-6">
            <div class="opinionTitle">
              <div class="opTitile">
                <h3>{{ ratin2.title }}</h3>
              </div>
              <div class="opComment">
                <h5>{{ ratin2.comment }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 ratings">
            <div class="opRate">
              {{ ratin2.rate}}
            </div>
            <div class="opRating-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getRate(ratin2.rate)>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="writtenBy" routerLink="/profile" #myElement (click)="saveUserName(ratin.userId?._id)">
              <h4>{{ ratin2.userId?.name }}</h4>
            </div>
            <div class="rateDate">
              {{ ratin2.date | date: 'longDate'}}
            </div>
          </div>
        </div>
      </div>
    </div>

  <p *ngFor="let alert of alerts" id="alertType" >
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>

  <h2 style="padding-bottom: 1%" #opinion>Escribir una opinion:</h2>




  <div class="row opinionForm"><!--[formGroup]="myform"-->
    <div class="col-md-8 col-sm-6 opinionTitle">
      <form id="commentForm" novalidate [formGroup]="myform">
        <div class="form-group" [ngClass]="{
            'has-danger': titleControl.invalid && (titleControl.dirty || titleControl.touched),
            'has-success': titleControl.valid && (titleControl.dirty || titleControl.touched)
            }">
          <label for="titleControl" class="control-label">Introduzca el titulo</label>
          <input type="text" class="form-control" formControlName="titleControl" id="titleControl" required title="Escribe aqui el título" placeholder="Escribe aqui el título" #titletControl>
          <p *ngIf="(titleControl.errors && (titleControl.dirty || titleControl.touched)) && titleControl.errors.required">El titulo es obligatorio</p>
          <p *ngIf="(titleControl.errors && (titleControl.dirty || titleControl.touched)) && titleControl.errors.rangeLength">Tiene que tener minimo 4 letras y maximo de 15</p>
          <span class="help-block"></span>
        </div>
      </form>
     </div>

    <div class="col-md-4 col-sm-6 ratingMark">
      <div id="ratingMark">
        {{this?.chVal}}
      </div>
      <div class="rating-bar">
        <input type="range" min="0" max="10" name="chVal" class="slider" id="myRange" [(ngModel)]="chVal" #mark>
      </div>
    </div>

    <div class="col-sm-4 comment">
      <form id="commentForm2" novalidate [formGroup]="myform">
        <div class="form-group" [ngClass]="{
            'has-danger': commentControl.invalid && (commentControl.dirty || commentControl.touched),
            'has-success': commentControl.valid && (commentControl.dirty || commentControl.touched)
            }">
          <label for="commentControl" class="control-label">Introduzca el comentario</label>
          <textarea type="text" rows="3" class="form-control" formControlName="commentControl" id="commentControl" required title="Escribe aqui tu comentario" placeholder="Escribe aqui tu comentario" #commenttControl></textarea>
          <p *ngIf="(commentControl.errors && (commentControl.dirty || commentControl.touched)) && commentControl.errors.required">Introduzca un comentario</p>
          <p *ngIf="(commentControl.errors && (commentControl.dirty || commentControl.touched)) && commentControl.errors.rangeLength">Tiene que tener minimo 6 letras y maximo de 300 letras</p>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <div id="ratingButton">
          <button class="btn btn-default" (click)="sendComments(titleControl.value, commentControl.value, mark.value)">Escribir una opinion</button>
      </div>
    </div>
  </div>

  <!--<div class="row opinionsForm" *ngFor="let rates of this.producte.ratings | slice:0:10">
    <div class="col-md-4 col-sm-4">
      <div class="opinionTitle">
        <div class="opTitile">
          <h3>{{ rates.title }}</h3>
        </div>
        <div class="opComment">
          <h5>{{ rates.comment }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 rating">
      <div class="opRate">
        {{ rates.rate}}
      </div>
      <div class="opRating-bar">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getRate(rates.rate)>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row" id="outer">
        <div class="inner">
          <h4 class="numberOp">0</h4>
          <p class="text-right"><a class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i></a><br></p>
        </div>
        <div class="inner">
          <h4 class="numberOp">0</h4>
          <p class="text-right"><a class="btn btn-default btn-sm"><i class="fa fa-thumbs-down"></i></a><br></p>
        </div>
        <div class="inner">
          <h4 class="numberOp">0</h4>
          <p class="text-right"><a class="btn btn-default btn-sm"><i class="fa fa-bullhorn"></i>Report</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="writtenBy" routerLink="/profile" #myElement (click)="saveUserName(myElement.innerText)">
        <h4>{{ rates.userId?.name }}</h4>
      </div>
      <div class="rateDate">
      {{ rates.date | date: 'longDate'}}
      </div>
    </div>
  </div>-->

  <div class="col-md-2">
    <h2 style="padding-top: 2%">Opiniones:</h2>
  </div>
  <div class="col-md-10" style="padding-bottom: 1%; padding-top: 0.2%">
    <h2>
      <button class='btn btn-default' disabled="disabled">Ordenar toda la lista de productos por:</button>
      <button class='btn btn-default' (click)="bestRatings()">Puntuación <img src="../../../assets/images/arrowup.png" height="16" width="16"/></button>
      <button class='btn btn-default' (click)="worstRatings()">Puntuación <img src="../../../assets/images/arrowdown.png" height="16" width="16"/></button>
      <button class='btn btn-default' (click)="newRatings()">Fecha <img src="../../../assets/images/arrowup.png" height="16" width="16"/></button>
      <button class='btn btn-default' (click)="oldRatings()">Fecha <img src="../../../assets/images/arrowup.png" height="16" width="16"/></button>
    </h2>
  </div>
  <h6 style="color: #666666; padding-left: 1.5%; padding-bottom: 0.5%; padding-top: 3%">Nº de opiniones: {{this.numb}}</h6>
  <section class="comment-list">
    <article class="row" *ngFor="let rates of this.producte.ratings | slice:0:10">
      <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
          <img class="img-responsive" src='{{ rates.userId?.profileImage }}'/>
          <div class="writtenBy" routerLink="/profile" #myElement (click)="saveUserName(rates.userId?._id)">
            <div class="comment-user"><i class="fa fa-user"></i>  {{ rates.userId?.name }}</div>
          </div>
          <!--<figcaption class="text-center">
            <div class="opRating-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getRate(rates.rate)>
                </div>
              </div>
            </div>
            <h5>{{ rates.rate}}</h5>
          </figcaption>-->
        </figure>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <div class="opinionTitle">
                  <div class="opTitile">
                    <h3>{{ rates?.title }}</h3>
                  </div>
                  <div class="opComment">
                    <h5>{{ rates?.comment }}</h5>
                  </div>
                </div>
                <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{ rates?.date | date: 'longDate'}}</time>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="col-md-12 rating">
                  <div class="opRate">
                    {{ rates?.rate}}
                  </div>
                  <div class="opRating-bar">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]= getRate(rates?.rate)>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="outer" *ngIf="!rates.liked && !rates.disliked">
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-default btn-sm" (click)="likeButton1(rates)"><i class="fa fa-thumbs-up"></i>{{rates?.numLike}}</a></p>
                  </div>
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-default btn-sm" (click)="dislikeButton1(rates)"><i class="fa fa-thumbs-down"></i>{{rates?.numDislike}}</a></p>
                  </div>
                  <div class="inner">
                    <button class="btn btn-default btn-sm" data-toggle="modal" (click)="passIdToReport(rates._id)" data-target="#modalReport"><i class="fa fa-bullhorn"></i>Report</button>
                  </div>
                </div>
                <div class="outer" *ngIf="rates.liked">
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-success btn-sm"><i class="fa fa-thumbs-up"></i>{{rates?.numLike}}</a></p>
                  </div>
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-default btn-sm" (click)="dislikeButton1(rates)"><i class="fa fa-thumbs-down"></i>{{rates?.numDislike}}</a></p>
                  </div>
                  <div class="inner">
                    <button class="btn btn-default btn-sm" data-toggle="modal" (click)="passIdToReport(rates._id)" data-target="#modalReport"><i class="fa fa-bullhorn"></i>Report</button>
                  </div>
                </div>
                <div class="outer" *ngIf="rates.disliked">
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-default btn-sm" (click)="likeButton1(rates)"><i class="fa fa-thumbs-up"></i>{{rates?.numLike}}</a></p>
                  </div>
                  <div class="inner">
                    <p class="text-right"><a class="btn btn-danger btn-sm"><i class="fa fa-thumbs-down"></i>{{rates?.numDislike}}</a></p>
                  </div>
                  <div class="inner">
                    <button class="btn btn-default btn-sm" data-toggle="modal" (click)="passIdToReport(rates._id)" data-target="#modalReport"><i class="fa fa-bullhorn"></i>Report</button>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="row">
              <div class="comment-post">
                <p>
                  {{ rates.comment }}
                </p>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </article>
  </section>
</div>

<div class="modal fade" id="modalReport" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="reason" class="control-label">Razón:</label>
          <select name="reason" id="reason" class="form-control" #reason>
            <option value="Contenido sexual">Contenido sexual</option>
            <option value="Contenido inadecuado">Contenido inadecuado</option>
            <option value="Contenido violento o que incita al odio">Contenido violento o que incita al odio</option>
            <option value="Contenido engañoso o con spam">Contenido engañoso o con spam</option>
            <option value="Contenido para trollear">Contenido para trollear</option>
            <option value="Contenido repetitivo o flood">Contenido repetitivo o flood</option>
            <option value="Otros">Otros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment" class="control-label">Comentario:</label>
          <input type="text" class="form-control" id="comment" name="comment" title="Introduzca su comentario" placeholder="Comentario" #comment>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="reportComment(comment.value, reason.value)">Reportar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
