<div class="container">
  <div id="title"><h1>Productos</h1></div>
    <form class='navbar-form'>
      <div class="col-md-1"></div>
      <div class='input-group col-md-10'>
        <input class='form-control' type='text' name='search' placeholder='Busque el producto que desee' #searcher [(ngModel)]="objectsFilter.name"/>
        <span class="input-group-btn">
          <button type='submit' class='btn btn-default'>
            <span class='glyphicon glyphicon-search' (click)="search(searcher.value, category.value)"></span>
          </button>
          <div class="form-group">
             <select name="categoria" class="form-control" #category>
              <option value="Todos">Todos</option>
              <option value="Sobremesa">Sobremesa</option>
              <option value="Portatil">Portatil</option>
              <option value="Tablet">Tablet</option>
              <option value="Movil">Movil</option>
              <option value="Accesorios">Accesorios</option>
            </select>
          </div>
          <button class='btn btn-default' disabled="disabled">Ordenar toda la lista de productos por:</button>
          <button class='btn btn-default' (click)="puntuation()">Puntuación</button>
          <button class='btn btn-default' (click)="aplhabetOrder()">A-Z</button>
          <button class='btn btn-default' (click)="newest()">Novedades</button>
        </span>
      </div>
      <div class="col-md-1"></div>
    </form>
  <p *ngFor="let alert of alerts" id="alertType">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="smallForm">
    <p style="text-align: center">Ordenar la busqueda por:
      <button class='btn btn-default' (click)="puntuation()">Puntuación</button>
      <button class='btn btn-default' (click)="aplhabetOrder()">A-Z</button>
      <button class='btn btn-default' (click)="newest()">Novedades</button>
    </p>
  </div>
  <div class="row">
    <div class="col-6 col-sm-3 formProduct" *ngFor="let prod of product | filterBy: {name: objectsFilter.name};" (click)="productClicked(prod)" routerLink="/productDetail">
      <div class="imgForm">
        <img src="/assets/images/predet.png" width="40%" height="40%">
      </div>
      <div class="col-md-8 ">
        <div class="productName">
          <h4>{{ prod.name }}</h4>
        </div>
        <div class="productSubname">
          <h5>{{ prod.category }} - {{ prod.company }} </h5>
        </div>
      </div>
      <div class="col-md-2 productMark">
        <h2>{{ prod.avgRate }}</h2>
      </div>
    </div>
  </div>
  <!--div class="row">
    <h1 *ngIf="prodClicked.name != ''">Información del producto</h1>
    <app-product-detail [prodSelected]="prodClicked"></app-product-detail>
  </div>
  <div class="row" *ngFor="let prod of product">
    <div class="col-md-4">
      <div class="imgForm">
        <img src="/assets/images/predet.png" width="40%" height="40%">
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ prod.name }}</h3>
      <h4>{{ prod.company }} </h4>
      <h4>{{ prod.category }}</h4>
    </div>
    <div class="col-md-4">
      <h1>7</h1>
      <button class="btn btn-lg">COMENTARIOS</button>
    </div>
  </div>-->
</div>
