<script src="table-products.component.ts"></script>
<div class="container">
  <h1>Productos:</h1>
  <button class="btn btn-lg" (click)="showProducts()">ACTUALIZAR</button>
  <button class="btn btn-lg" data-toggle="modal" data-target="#myModal2">AÑADIR PRODUCTO</button>
  <button class="btn btn-danger btn-xs" data-title="DeleteSelected" data-target="#deleteSelected" (click)="deleteSelected()" ><span class="glyphicon glyphicon-trash"></span></button>
  <div class="col-md-10 form-group">
    <input class="form-control" type='text' name='search2' placeholder='Busque el producto que desee' #searcher2 [(ngModel)]="objectsFilter.name"/>
    <p *ngFor="let alert of alerts" id="alertType">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Productos</h3>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
          <tr>
            <th>#</th>
            <th><a (click)="sortByName()">Nombre</a></th>
            <th><a (click)="sortByCategory()">Tipo</a></th>
            <th><a (click)="sortByCompany()">Marca</a></th>
            <th>Editar</th>
            <th>Borrar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let products of product | filterBy: {name: objectsFilter.name}; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ products.name }}</td>
            <td>{{ products.category }}</td>
            <td>{{ products.company }}</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#myModal3" (click)="passID(products._id, products.name, products.category, products.company, products.images[products.images.length - 1].src, i)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete2" (click)="passIndex(products._id, products.name, i)" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Check"><div>
              <label>
                <input #selectedcb type="checkbox" value="products._id" (change)="checkCheck(selectedcb.checked, products?.valueOf())"  />
                {{ products.name }}
              </label>
            </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Objetos a borrar</h3>
        </div>
        <table>
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nametoDelate of arrayNames; let i = index">
          <th>{{nametoDelate}}</th>
        </tr>
        </tbody>
      </table>
      </div>
    </div>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="moodal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Editar producto</h4>
        </div>
        <form id="editForm" method="POST" action="/login/" novalidate="novalidate">
          <div class="form-group">
            <label for="name" class="control-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{this.nameE}}" required="" title="Introduzca su nombre" placeholder="Nombre" #name>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="category" class="control-label">Categoria:</label>
            <select name="category" id="category" class="form-control" #category>
              <option value="desktop">Sobremesa</option>
              <option value="laptop">Portatil</option>
              <option value="tablet">Tablet</option>
              <option value="phone">Movil</option>
              <option value="accessories">Accesorios</option>
            </select>
            <a class="btn btn-default btn-block" (click)="showTypeTable(category.value)">Mostrar Tabla Especifiaciones</a>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="company" class="control-label">Marca:</label>
            <input type="text" class="form-control" id="company" name="company" value="{{this.companyE}}" required="" title="Introduzca su marca" #company>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="company" class="control-label">Imagen:</label>
            <input type='file' (change)="readUrl($event)">
            <img [src]="url" style="width: 100px; height: 100px">
            <span class="help-block"></span>
            <button class="btn btn-default btn-block" type="button" (click)="upload()">Añadir Imagen</button>
          </div>
          <div class="form-group">
            <label for="company" class="control-label">Especificaciones: </label>
            <!--<table class="table table-striped table-bordered" *ngIf="tableAccessories">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                  <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                </td>
                <td>
                  <input [(ngModel)]="field.spec" class="form-control" type="text" name="{{field.spec}}" />
                </td>
                <td>
                  <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="form-control" type="text"  name="newAttributeName" />
                </td>
                <td>
                  <input class="form-control" type="text" name="newAttributeSpec" />
                </td>
                <td>
                  <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                </td>
              </tr>
              </tbody>
            </table>-->
            <form>
            <table class="table table-striped table-bordered" *ngIf="tableDesktop">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="form-control" for="proc1" type="text">Procesador</label>
                </td>
                <td>
                  <input class="form-control" type="text" id="proc1" name="proc1" [(ngModel)]="proc1" >
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="ram1" type="text">Memoria Ram</label>
                <td>
                  <input  class="form-control" type="text" id="ram1" name="ram1" [(ngModel)]="ram1">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="disk1" type="text">Disco Duro</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="disk1" name="disk1" [(ngModel)]="disk1">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="graphic1" type="text" >Tarjeta Gràfica</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="graphic1" name="graphic1" [(ngModel)]="graphic1">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="so1" type="text" >Sistema Operativo</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="so1" name="so1" [(ngModel)]="so1">
                </td>
              </tr>
              </tbody>
            </table>
            </form>
            <form>
            <table class="table table-striped table-bordered" *ngIf="tableLaptop">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="form-control" for="proc2" type="text">Procesador</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="proc2" name="proc2" [(ngModel)]="proc2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="screen2" type="text">Pantalla</label>
                <td>
                  <input  class="form-control" type="text" id="screen2" name="screen2" [(ngModel)]="screen2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="ram2" type="text">Memoria Ram</label>
                <td>
                  <input  class="form-control" type="text" id="ram2" name="ram2" [(ngModel)]="ram2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="disk2" type="text">Disco Duro</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="disk2" name="disk2" [(ngModel)]="disk2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="graphic2" type="text">Tarjeta Gràfica</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="graphic2" name="graphic2" [(ngModel)]="graphic2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="gr2" type="text">Peso</label>
                <td>
                  <input  class="form-control" type="text" id="gr2" name="gr2" [(ngModel)]="gr2">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="so2" type="text">Sistema Operativo</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="so2" name="so2" [(ngModel)]="so2">
                </td>
              </tr>
              </tbody>
            </table>
            </form>
            <form>
            <table class="table table-striped table-bordered" *ngIf="tableTablet">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="form-control" for="proc3" type="text">Procesador</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="proc3" name="proc3" [(ngModel)]="proc3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="screen3" type="text">Pantalla</label>
                <td>
                  <input  class="form-control" type="text" id="screen3" name="screen3" [(ngModel)]="screen3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="ram3" type="text">Memoria Ram</label>
                <td>
                  <input  class="form-control" type="text" id="ram3" name="ram3" [(ngModel)]="ram3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="disk3" type="text">Disco Duro</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="disk3" name="disk3" [(ngModel)]="disk3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="gr3" type="text">Peso</label>
                <td>
                  <input  class="form-control" type="text" id="gr3" name="gr3" [(ngModel)]="gr3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="cam3" type="text">Camara</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="cam3" name="cam3" [(ngModel)]="cam3">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="so3" type="text">Sistema Operativo</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="so3" name="so3" [(ngModel)]="so3">
                </td>
              </tr>
              </tbody>
            </table>
            </form>
            <form>
            <table class="table table-striped table-bordered" *ngIf="tableMobile">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="form-control" for="proc4" type="text">Procesador</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="proc4" name="proc4" [(ngModel)]="proc4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="screen4" type="text">Pantalla</label>
                <td>
                  <input  class="form-control" type="text" id="screen4" name="screen4" [(ngModel)]="screen4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="ram4" type="text">Memoria Ram</label>
                <td>
                  <input  class="form-control" type="text" id="ram4" name="ram4" [(ngModel)]="ram4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="disk4" type="text">Disco Duro</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="disk4" name="disk4" [(ngModel)]="disk4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="gr4" type="text">Peso</label>
                <td>
                  <input  class="form-control" type="text" id="gr4" name="gr4" [(ngModel)]="gr4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="cam4" type="text">Camara</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="cam4" name="cam4" [(ngModel)]="cam4">
                </td>
              </tr>
              <tr>
                <td>
                  <label class="form-control" for="so4" type="text">Sistema Operativo</label>
                </td>
                <td>
                  <input  class="form-control" type="text" id="so4" name="so4" [(ngModel)]="so4">
                </td>
              </tr>
              </tbody>
            </table>
            </form>
            <a class="btn btn-default btn-block" (click)="passSpec(category?.value)">Añadir Especificaciones</a>
          <!--, proc1?.value, ram1?.value, disk1?.value, graphic1?.value, so1?.value, proc2?.value, screen2?.value, ram2?.value, disk2?.value, graphic2?.value,gr2?.value, so2?.value, proc3?.value, screen3?.value, ram3?.value, disk3?.value, gr3?.value, cam3?.value, so3?.value, proc4?.value,  screen4?.value, ram4?.value, disk4?.value, gr4?.value, cam4?.value, so4?.value-->
          </div>
          <p><a class="btn btn-info btn-block" (click)="modifyProducts(name.value, category.value, company.value)" data-dismiss="modal">Editar Producto</a></p>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="mooodal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Añadir Producto</h4>
        </div>
        <form id="editForm2" method="POST" action="/login/" novalidate="novalidate">
          <div class="form-group">
            <label for="name2" class="control-label">Nombre:</label>
            <input type="text" class="form-control" id="name2" name="name2" value="" required="" title="Introduzca su nombre" placeholder="Nombre" #name2>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="category2" class="control-label">Categoria:</label>
            <select name="category2" id="category2" class="form-control" #category2>
              <option value="desktop">Sobremesa</option>
              <option value="laptop">Portatil</option>
              <option value="tablet">Tablet</option>
              <option value="phone">Movil</option>
              <option value="accessories">Accesorios</option>
            </select>
            <!--<a class="btn btn-default btn-block" (click)="showTypeTable(category2.value)">Mostrar Tabla Especifiaciones</a>-->
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="company2" class="control-label">Marca:</label>
            <input type="text" class="form-control" id="company2" name="company2" value="" required="" title="Introduzca su marca" #company2>
            <span class="help-block"></span>
          </div>
          <!--<div class="form-group">
            <label for="company" class="control-label">Especificaciones: </label>
              <table class="table table-striped table-bordered" *ngIf="tableAccessories">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Especificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let field of fieldArray; let i = index">
                    <td>
                      <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                    </td>
                    <td>
                      <input [(ngModel)]="field.spec" class="form-control" type="text" name="{{field.spec}}" />
                    </td>
                    <td>
                      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control" type="text" name="newAttributeName" />
                    </td>
                    <td>
                      <input class="form-control" type="text" name="newAttributeSpec" />
                    </td>
                    <td>
                      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            <form [formGroup]="desktop" (submit)="save(desktop.value)">
            <table class="table table-striped table-bordered" *ngIf="tableDesktop">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Especificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="form-control" type="text">Procesador</label>
                    </td>
                    <td>
                      <input  class="form-control" type="text" formControlName="procesador1"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="form-control" type="text">Memoria Ram</label>
                    <td>
                    <input  class="form-control" type="text" [(ngModel)]="spec[1].spec" [ngModelOptions]="{standalone: true}"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="form-control" [(ngModel)]="spec[2].name" type="text">Disco Duro</label>
                    </td>
                    <td>
                      <input  class="form-control" type="text" [(ngModel)]="spec[2].spec" [ngModelOptions]="{standalone: true}"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="form-control" [(ngModel)]="spec[3].name" type="text" >Tarjeta Gràfica</label>
                    </td>
                    <td>
                      <input  class="form-control" type="text" [(ngModel)]="spec[3].spec" [ngModelOptions]="{standalone: true}"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="form-control" [(ngModel)]="spec[4].name" type="text" >Sistema Operativo</label>
                    </td>
                    <td>
                      <input  class="form-control" type="text" [(ngModel)]="spec[4].spec" [ngModelOptions]="{standalone: true}"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <table class="table table-striped table-bordered" *ngIf="tableLaptop">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span class="form-control" type="text">Procesador</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.procesador" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Pantalla</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.pantalla" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Memoria Ram</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.ram" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Disco Duro</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.disco" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Tarjeta Gràfica</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.tarjetaGrafica" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Peso</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.peso" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Sistema Operativo</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.so" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="table table-striped table-bordered" *ngIf="tableTablet">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span class="form-control" type="text">Procesador</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.procesador" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Pantalla</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.pantalla" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Memoria Ram</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.ram" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Disco Duro</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.disco" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Peso</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.peso" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Camara</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.camara" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Sistema Operativo</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.so" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="table table-striped table-bordered" *ngIf="tableMobile">
              <thead>
              <tr>
                <th>Titulo</th>
                <th>Especificación</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span class="form-control" type="text">Procesador</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.procesador" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Pantalla</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.pantalla" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Memoria Ram</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.ram" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Disco Duro</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.disco" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Peso</span>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.peso" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Camara</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.camara" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-control" type="text">Sistema Operativo</span>
                </td>
                <td>
                  <input  class="form-control" type="text" [(ngModel)]="spec.so" [ngModelOptions]="{standalone: true}"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>-->
          <p><a class="btn btn-info btn-block" (click)="addProduct(name2.value, category2.value, company2.value)" data-dismiss="modal">Añadir Producto</a></p>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showSpecifi()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="delete2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">¿Seguro que quieres borrar el producto: {{ this.products.name }}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUsers(products._id)">Si, Borrar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
