<div class="container">
  <h1>Productos:</h1>
  <button class="btn btn-lg" (click)="showProducts()">ACTUALIZAR</button>
  <button class="btn btn-lg" data-toggle="modal" data-target="#myModal2">AÑADIR PRODUCTO</button>
  <p *ngFor="let alert of alerts" id="alertType">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Productos</h3>
          <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
          </div>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
          <tr>
            <th>#</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Editar</th>
            <th>Borrar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let products of product; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ products._id}}</td>
            <td>{{ products.name }}</td>
            <td>{{ products.category }}</td>
            <td>{{ products.company }}</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#myModal3" (click)="passID(products._id, i)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete2" (click)="passIndex(products._id, products.name, i)" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="moodal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Editar producto</h4>
        </div>
        <form id="editForm" method="POST" action="/login/" novalidate="novalidate">
          <div class="form-group">
            <label for="name" class="control-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" value="" required="" title="Introduzca su nombre" placeholder="Nombre" #name>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="category" class="control-label">Tipo:</label>
            <input type="text" class="form-control" id="category" name="category" value="" required="" title="Introduzca su tipo" placeholder="Tipo" #category>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="company" class="control-label">Marca:</label>
            <input type="text" class="form-control" id="company" name="company" value="" required="" title="Introduzca su marca" #company>
            <span class="help-block"></span>
          </div>
          <p><a class="btn btn-info btn-block" (click)="modifyProducts(name.value, category.value, company.value)" data-dismiss="modal">Editar Producto</a></p>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="mooodal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Añadir Producto</h4>
        </div>
        <form id="editForm2" method="POST" action="/login/" novalidate="novalidate">
          <div class="form-group">
            <label for="name2" class="control-label">Nombre:</label>
            <input type="text" class="form-control" id="name2" name="name2" value="" required="" title="Introduzca su nombre" placeholder="Nombre" #name2>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="category2" class="control-label">Tipo:</label>
            <input type="text" class="form-control" id="category2" name="category2" value="" required="" title="Introduzca su tipo" placeholder="Tipo" #category2>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="company2" class="control-label">Marca:</label>
            <input type="text" class="form-control" id="company2" name="company2" value="" required="" title="Introduzca su marca" #company2>
            <span class="help-block"></span>
          </div>
          <p><a class="btn btn-info btn-block" (click)="addProduct(name2.value, category2.value, company2.value)" data-dismiss="modal">Añadir Producto</a></p>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="delete2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">¿Seguro que quieres borrar el producto: {{ this.products.name }}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUsers(products._id)">Si, Borrar!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
