@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
#contact{
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.container{
  padding-top: 20px;
  padding-bottom: 30px;
}
#title{
  margin-bottom: 45px;
  text-align: center;
}

#contact .well{
  margin-top:30px;
  border-radius:0;
}

#contact .form-control{
  border-radius: 0;
  border:2px solid #1e1e1e;
}

#contact button{
  border-radius:0;
  border:2px solid #1e1e1e;
}

#contact .row{
  margin-bottom:30px;
}

@media (max-width: 768px) {
  #contact iframe {
    margin-bottom: 15px;
  }

}

