 .stylish-input-group .input-group-addon{
   background: white !important;
 }
 .stylish-input-group .form-control{
   border-right:0;
   box-shadow:0 0 0;
   border-color:#ccc;
 }
 .stylish-input-group button{
   border:0;
   background:transparent;
 }
 .navbar-form{
   margin: 5px;
   position: absolute;
   padding-top: 12%;
 }
 .formProduct{
   padding: 20px;
   /*border-right: 1px solid rgba(70, 70, 70, 0.53);*/
   margin: 0.5%;

 }
 .productMark{
   position: absolute;
   padding-top: 115px;
   padding-left: 200px;
 }
 #title{
   margin-bottom: 30px;
   text-align: center;
 }
 .imgForm{
   margin-top: 10px;
   text-align: center;
 }
 .productName{
   text-align: center;
 }
 .productSubname{
   text-align: center;
 }
 .plusImage{
   margin-top: 8.5%;
   margin-left: 2%;
 }
 @media screen and (max-width: 768px){
   .plusImage {
     display: none;
   }
 }
 .row{
   margin-top: 2%;
 }
  .container{
    margin-bottom: 2%;
  }
 a{
   text-decoration:none
 }
