<header>
  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <script>

  </script>
</header>
<div class="clickToSkip">
  <h6>Pulsa el video para quitarlo</h6>
</div>
<form class='navbar-form'>
  <div class='input-group col-md-9'>
    <input class='form-control' type='text' name='search' placeholder='Busque el producto que desee' #searchedProduct />
    <span class="input-group-btn">
          <button type='submit' class='btn btn-default' routerLink="/products" (click)="searchProd(searchedProduct.value)">
            <span class='glyphicon glyphicon-search'></span>
          </button>
    </span>
  </div>
</form>
<div>
  <img src="/assets/images/port2.jpg" width="100%" height="100%"/>
</div>
<div class="container-fluid video" (click)="skipClass()">
  <video poster="#" id="bgvid" playsinline autoplay muted>
    <source src="/assets/video/opinalia.mp4" type="video/mp4">
  </video>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 anunci1">
      <img src="../../../assets/images/anunci1.png" style="width: 85%; height: 85%"/>
    </div>
    <div class="col-md-6 anunci2" >
      <div class="col-md-4 cssCol" routerLink="/products">
        <img src="../../../assets/images/lupa.png" height="54px" width="54px"/>
        <h4>Busca en nuestros productos</h4>
      </div>
      <div class="col-md-4 cssCol" routerLink="/ranking">
        <img src="../../../assets/images/trophy.png" height="54px" width="54px"/>
        <h4>Encuentra los mejores productos</h4>
      </div>
      <div class="col-md-4 cssCol" routerLink="/companies">
        <img src="../../../assets/images/earth.png" height="54px" width="54px"/>
        <h4>Mira los productos de las mejores marcas</h4>
      </div>
    </div>
  </div>
  <div class="row sinPadding">
    <a routerLink="/ranking"><h2 style="color: #464646">TOP</h2></a>
    <div class="col-6 col-sm-3 formProduct" *ngFor="let prod of product | slice:0:this.numberSlice" (click)="productClicked(prod)" routerLink="/productDetail">
      <div class="imgForm">
        <img src="{{ prod.images[prod.images.length - 1].src }}" width="200px" height="200px">
      </div>
      <div class="productName">
        <h4>{{ prod.name }}</h4>
      </div>
      <div class="productSubname">
        <h5>{{ prod.category }} - {{ prod.company }} </h5>
      </div>
    </div>
    <div class="plusImage">
      <img src="/assets/images/mas.jpg" width="3%" height="3%" routerLink="/ranking">
    </div>
  </div>
  <div class="row sinPadding">
    <a routerLink="/products"><h2 style="color: #464646">ULTIMAS NOVEDADES</h2></a>
    <div class="col-6 col-sm-2 formProduct" *ngFor="let prod of products | slice:0:this.numberSlice" (click)="productClicked(prod)" routerLink="/productDetail">
      <div class="imgForm">
        <img src="{{ prod.images[prod.images.length - 1].src }}" width="200px" height="200px">
      </div>
      <div class="productName">
        <h4>{{ prod.name }}</h4>
      </div>
      <div class="productSubname">
        <h5>{{ prod.category }} - {{ prod.company }} </h5>
      </div>
    </div>
    <div class="plusImage">
      <img src="/assets/images/mas.jpg" width="3%" height="3%" routerLink="/products">
    </div>
  </div>
</div>
