<div class="box-shadow" *ngFor="let prod of product">
  <img src="../../../assets/images/productos/mobiles/lg.png" class="productImageStyle"><!--Aqui seria product.images-->

  <div class="container">
    <h1 class="Title">Detalle Producto: {{ prod.name }}</h1>
    <div class="row">
      <div class="col-6 col-sm-3 formProduct">
        <div class="productMark">
          <h2></h2>
        </div>
        <div class="productSubname">
          <h3>Categoria: {{ prod.category }} - Compañía: {{ prod.company }} </h3>
        </div>
        <div class="productSubname">
          <h3>{{ prod.specifications }}</h3>
        </div>
        <div class="productSubname">
          <h3>{{ prod.components }}</h3>
        </div>
      </div>
    </div>
    <p data-placement="top" data-toggle="tooltip" title="AddComent"><button class="btn btn-primary btn-xs" data-title="AddComent" data-toggle="modal" data-target="#myModal" (click)="passID(products._id)"><span class="glyphicon glyphicon-pencil"></span></button></p>
    <!-- Modal -->
    <div class="modal fade" id="myModa" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="moodal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Añadir Comentario</h4>
          </div>
          <form id="editForm" method="POST" action="/login/" novalidate="novalidate">
            <div class="form-group">
              <label for="comment" class="control-label">Comentario:</label>
              <input type="text" class="form-control" id="comment" name="comment" value="" required="" title="Introduzca su comentario" placeholder="Comment" #comment>
              <span class="help-block"></span>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--End Modal-->
  </div>
</div>
