<div class="container">
  <div class="header">
    <h1 class="title">Tu perfil</h1>
  </div>
  <p *ngFor="let alert of alerts" id="alertType">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="col-md-4 editform">
    <div class="form-group">
      <img class="imageProduct" src="{{this.image}}" style="width: 300px; height: 300px; "/>
      <span class="help-block" style="paddi
       5%"></span>
      <button class="btn btn-default btn-block" routerLink="/edit-profile">Editar perfil</button>
    </div>
  </div>

  <div class="col-md-7 nameEdit">
    <div id="text">
      <h2>Nombre: {{ this.user.name }}</h2>
      <h2>Email:  {{ this.user.email }}</h2>
    </div>
  </div>

</div>
